body,
html {
    background: #151d29;
    background: #F8F8F8;
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #43464B;



}

#link {
    color: #F4825D;
}

.verse {
    border: 0;
    background: #F16334;
    position: relative;
    height: 45px;
    width: 150px;
    outline: none;
    cursor: pointer;
    border-radius: 35px;
    color: white;
    font-size: 15px;
}

h1 {
    text-shadow: 2px 2px white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.picture {
    width: 60%;

}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1180px) {
    body {
        height: 100%;
        width: 100%;
        background-color: #F8F8F8;
        margin: 0px;
        text-align: center;
        font-family: 'Pacifico', cursive;
        font-size: 16px;
        color: #43464B;

    }

    .picture {
        width: 80%;

    }

    .verse {
        border: 0;
        background: #F16334;
        position: relative;
        height: 40px;
        width: 120px;
        outline: none;
        cursor: pointer;
        border-radius: 35px;
        color: white;
        font-size: 15px;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 700px) {
    body {
        height: 100%;
        width: 100%;
        background-color: #F8F8F8;
        margin: 0px;
        text-align: center;
        font-family: 'Pacifico', cursive;
        font-size: 14px;
        color: #43464B;
    }

    .picture {
        width: 95%;

    }

    .verse {
        border: 0;
        background: #F16334;
        position: relative;
        height: 30px;
        width: 100px;
        outline: none;
        cursor: pointer;
        border-radius: 35px;
        color: white;
        font-size: 15px;
    }
}
